::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
  background: #ffba08 !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffba08 !important;
}
